.mainHeader {
  text-align: "center";
  padding: "10px 0";
  font-size: "50px";
  font-weight: "bold";
  background: "rgba(0, 128, 0, 0.3)";
}
.mainForm {
  text-align: center;
}
.inputFile {
  text-align: left;
}
